@use "../utilities" as *;

$container: (
        "global": 1240px,
);

.container {
        &--global {
                width: min(100%, calc(pix-rem(map-get($container, "global"),rem) - pix-rem(16px,rem)));
                margin-inline: auto;
                padding-inline: pix-rem(16px);
        }
}
