@use './reset';
@use './utilities' as *;


:root {
        font-family: map-get($font, "fontFamily" ), cursive;
        line-height: 24px;
        font-weight: 400;

        font-synthesis: none;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        -webkit-text-size-adjust: 100%;
}
body{
        background-color: aquamarine;
}